
build/telecontrol/Analysis-00.toc
build/telecontrol/EXE-00.toc
build/telecontrol/PKG-00.toc
build/telecontrol/PYZ-00.toc
build/telecontrol/xref-telecontrol.html
build/telecontrol/warn-telecontrol.txt
build/telecontrol/telecontrol.exe.manifest
build/telecontrol/PKG-00.pkg
build/telecontrol/PYZ-00.pyz

build/telecontrol/run.exe.7_ytw5
controle.dia
controle.dia~
